*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-bar{
display: flex;
padding: 10px 20px;
  align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.nav-bar ul{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    list-style: none;
    font-size: 19px;
    /* overflow: hidden; */
}
.nav-bar:hover li{
      color: #e62214;
}

.nav-bar ul li{
    padding: 20px;
    background-color: white;
}
.nav-bar a{
    text-decoration: none;
    color: black;
}
#menuList {
 transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  max-height: 0;
 overflow: hidden;
 opacity: 0;
        }
 #menuList.open {
  max-height: 300px; 
 opacity: 1;
 }
.nav-bar h1{
    font-size: 37px;
    color: #414141;
}
.nav-bar p{
    font-size: 17px;
    margin-top: 8px;
}
.menu-icon i{
     color: #414141;
     font-size: 35px;
     display: block;
}
a{
    font-size: 24px;
   padding: 20px;
    text-decoration: none;
    color: #414141;
}
.blog{
    margin-top: 40px;
}
.blog  i{
   color: #acafc4;
     font-size: 50px;
   margin: 10px;
}

.blog span{
    margin-top: 30px;
      color: #414141;
      font-size: 18px;
      margin-left: 10px;
      font-size: 14px;
}
.share-menu i{
   position: relative;
   left: 400px;
   top: -35px;
   font-size: 30px;
}



#share-toggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}


.share-icons {
    position: relative;
    display: flex;
    flex-direction: row;
  background: white;
  border: 1px solid #ccc;
  padding: 10px 40px;
}

.hidden {
  display: none;
}

.share-icons a {
   margin-top: 30px;
    position: relative;
    left: -400px;
  color: #444;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s;
}

.share-icons a:hover {
  color: #8b8f94;
}
.action h2{
    align-items: start;
    font-size: 34px;
   width: 290px;
   margin: 0 30px;
    color: #444;
}
.action p{
    font-size: 20px;
    line-height: 1.5;
      margin: 20px 30px;  
       color: #444;
}
.action img{
    width: 100%;
    height: 100%;
    padding: 0 20px;
}
.action h3{
    margin: 10px 30px;
    font-size: 23px;
     color: #444;
}
.action i{
  
    margin-top: 10px;
    font-size: 30px;

}
.action span{
    font-size: 20px;
    margin-left: 20px;
}
.action button{
     background: none;
  border: none;
  color: #444;
  margin-left: 180px;
  font-size: 1rem;
  cursor: pointer;
}
#comment-section {
  margin-top: 30px;
}

#comment-list {
  list-style: none;
  padding-left: 0;
}

#comment-list li {
  background: #eef;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

#comment-input {
  width: 85%;
  padding: 30px;
  margin: 20px;
  margin-top: 10px;
  font-size: 1rem;
}

button {
  padding: 10px 15px;
  background: black;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: black;
  color: white;
}
.action h4{
    margin: 20px;
    font-size: 30px;
}
.newsletter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
#newsletter-form label {
  font-weight: bold;
  color: #625d5d;
  font-size: 18px;
  margin: 40px;
}
.checkbox-group {
  display: flex;
  align-items: center;
  gap: 5px;
  
  
}
#newsletter-form input[type="text"],
#newsletter-form input[type="email"] {
  padding: 10px;
  border: 1px solid #211616;
  border-radius: 6px;
  color: #322e2e;
  margin: 10px;
  font-size:  8px;
  width: 400px;
}
#newsletter-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto; 
  padding: 15px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  background: white;
  border-color: black;
  width: 200px;
  color: black;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}

#newsletter-form button:hover {
  background: black;
  color: white;
}

#newsletter-form textarea {
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  /* resize: vertical; */
  width: 100%;
  max-width: 350px;
  margin: 20px;
}
.main-footer{
   background-color: black;
   color: white;
}
.main-footer  i{
    font-size: 34px;
    margin: 15px;
    color: white;
}
.main-footer h3{
    font-size: 40px;
}
.main-footer p{
    margin: 20PX;
    font-size: 20px;
}
.inside-footer h2{
    font-size: 34px;
    margin: 10px;
}


 @media screen and (min-width: 992px){
   /* *{
        border: 1px solid;
    } */

    .nav-bar {
        display: inline;
    display: flex;
       padding: 10px 20px;
    align-items: end;
    text-align: end;
    justify-content: space-between;
    margin-top: 30px;
  
}
    nav-bar ul {
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-bar ul li {
display: inline-block;
line-height: 10px;
margin: -20px 60px;
padding: 0;
}
.nav-bar h1{
    font-size: 42px;
}

.nav-bar a {
    text-decoration: none;
    color: black;
}

.menu-icon {
    display: none;
}

.menu-icon i {
    color: #e62214;
    font-size: 30px;
}
.personals{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 90px;
}
a{
    font-size: 24px;
  position: relative;
  left: 270px;
    text-decoration: none;
    color: #414141;
}
.menu-icon i{
  
     color: #414141;
     font-size: 35px;
     display: block;
}
a{
    font-size: 24px;
   padding: 20px;
    text-decoration: none;
    color: #414141;
}
.share-icons a {
   margin-top: 31px;
 padding: 30px;
    position: relative;
    left: -400px;
  color: #444;
  font-size: 34px;
  text-decoration: none;
  transition: color 0.3s;
}
.blog{
    margin-top: 40px;
   margin-left: 240px;
}

.share-menu i{
   position: relative;
   left: 950px;
   top: -50px;
   font-size: 20px;
}

.action h2{
    font-size: 44px;
   width: 50%;
   margin: 0 320px;
   font-weight: 100;
    color: #444;
}
.action p{
    width: 55%;
    font-size: 18px;
    padding: 0 27px;
    line-height: 1.5;
      margin: 20px 290px;  
       color: #444;
}
.action img{
    width: 50%;
    height: 50%;
   margin: 40px 320px;
    padding: 0 10px;
}
.action h3{

    margin: 30px 330px;
    font-size: 23px;
     color: #444;
}
.action i{
    text-align: center;
position: relative;
left: 320px;
  margin: 30px 0px;
    margin-top: 20px ;
    font-size: 18px;

}
hr{
    width: 55%;
  margin: 0 auto;
}
.action span{
    font-size: 20px;
    margin-left: 320px;
    margin-top: 10px;
}
.action button{
     background: none;
  border: none;
  color: black;
  margin-left: 180px;
  font-size: 1rem;
  cursor: pointer;
}
#comment-section {
  margin-top: 30px;
}

#comment-list {
  list-style: none;
  padding-left: 0;
}

#comment-list li {
  background: #eef;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

#comment-input {
  width: 45%;
  padding: 30px;
  margin: 20px 360px;
  margin-top: 10px;
  font-size: 1rem;
}

button {
  padding: 10px 15px;
 
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

/* button:hover {
  background: black;
  color: white;
} */
.action h4{
    margin: 20px 320px;
    font-size: 30px;
}
.newsletter{
    display: grid;
    grid-template-columns: 1fr  ;
    padding:  70px;
}
#newsletter-form input[type="text"],
#newsletter-form input[type="email"] {
 padding: 1px;
  margin: 30px;
  font-size: 30px;
  width: 300px;
 
}
#newsletter-form input[type="email"] {
  width: 800px;
}
#newsletter-form button {
    width: 300px;
    padding: 10px;
  
}
.main-footer {
display: grid;
grid-template-columns: 1fr 1fr;
}
.footer{
    margin: 60px;
}
.newsletter-form textarea{
   max-width: 600px;
}

 }

 