*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-bar{
display: flex;
padding: 10px 20px;
  align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.nav-bar ul{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    list-style: none;
    font-size: 19px;
    background-color: white;
}
.nav-bar:hover  a{
      color: black;
}

.nav-bar ul li{
    padding: 20px;
    background-color: white;
}
.nav-bar a{
    text-decoration: none;
    color: black;
}
#menuList {
 transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  max-height: 0;
 /* overflow: hidden; */
 opacity: 0;
        }
 #menuList.open {
  max-height: 300px; 
 opacity: 1;
 }
.nav-bar h1{
    font-size: 37px;
    color: #414141;
}
.nav-bar p{
    font-size: 17px;
    margin-top: 8px;
}
.menu-icon i{
    color: #414141;
     font-size: 35px;
     display: block;
}
.personal img{
     width: 100%;
  height: 100%;
  object-fit: cover;
   object-position: 50% 50%;
}
.Thoughts h2{
    margin: 30px;
    font-size: 38px;
     color: #414141;
}
.Thoughts img{
       width: 100%;
  height: 50%;
  object-fit: cover;
   object-position: 50% 50%;
  padding: 0 30px;
}
.Thoughts h3{
    text-align: start;
    margin: auto ;
    /* padding: 2px; */
    font-size: 29px;
    width: 250px;
   color: #414141;
     margin-bottom: 20px;
}
.Thoughts p{
     color: #414141;
     font-size: 18px;
   margin: auto 20px;
    text-align: start;
   padding:0  35px;
   line-height: 1.5;
}
.Thoughts button{
  margin: auto 110px;
align-items: center;
height: 50px;
width: 150px;
margin-top: 30px;
font-size: 16px;
background-color: white;
border-color: black;
}
.blog h2{
    font-size: 37px;
    margin: 20px 30px;
     color: #414141;
     margin-top: 20px;
     font-weight: bold;
}
.blog img{
    width: 100%;
    height: 60%;
    padding: 20px;
      object-fit: cover;
   object-position: 50% 50%;
    
}
.blog span{
 margin-left: 30px;
  color: #414141;
}
.blog h3{
    text-align: start;
    margin: 10px;
    padding: 0 20px;
     color: #414141;
     line-height: 1.5;
     font-size: 23px;
}
.blog a {
   text-decoration: none;
    font-size: 16px;
     color: #414141;
     margin: 10px 30px; 
   display: flex;
    
}
.blog a:hover {
      color: #322e2e;
}
.blog h4{
   margin: 10px 20px;
    color: #414141;
}
hr{
   margin: 20px;
}

.quote img{
width: 100%;
height: 100%;
  object-fit: cover;
   object-position: 50% 50%;

}
.quote h2{
    font-size: 30px;
    width: 380px;
    padding: 0 15px;
    text-align: center;
      color: #322e2e;
}
.quote p{
    font-size: 16px;
    margin: 20px;
}
.about{
 background-color: rgb(240 209 201 / 32%);
}
.about img{
    width: 100%;
    height: 100%;
    padding: 0 30px;

}
.about h2{
    text-align: center;
    font-size: 29px;
    margin: 30px;
      color: #322e2e;
}
.about p{
    width: 320px;
    text-align: center;
     color: #322e2e;
     font-size: 20px;
     padding: 0 10px;
     margin: 10px 30px;
}
.about a{
    text-decoration: none;
}
.about button{
    
    margin: 40px auto;
    justify-content: center;
    font-size: 17px;
    border-color: black;
    color: black;
    background-color: white;
    width: 160px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
}
.section-smile h2{
    font-size: 40px;
    margin: 0 60px;
    padding: 20px;
      color: #322e2e;
}
.smile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}
.smile img{
 width: 100%;
    height: 100%;
}
.newsletter-section h2{
 text-align: center;
    font-size: 45px;
    width: 300px;
    margin: 30px;
      color: #322e2e;
}
.newsletter-section p{
    width: 280px;
     color: #322e2e;
     text-align: center;
     font-size: 24px;
     margin: 30px;
}
.newsletter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
#newsletter-form label {
  font-weight: bold;
  color: #625d5d;
  font-size: 18px;
  margin: 40px;
}
.checkbox-group {
  display: flex;
  align-items: center;
  gap: 5px;
  
  
}
#newsletter-form input[type="text"],
#newsletter-form input[type="email"] {
  padding: 10px;
  border: 1px solid #211616;
  border-radius: 6px;
  color: #322e2e;
  margin: 10px;
  font-size:  8px;
  width: 400px;
}
#newsletter-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto; 
  padding: 15px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  background: white;
  border-color: black;
  width: 200px;
  color: black;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}

#newsletter-form button:hover {
  background: black;
  color: white;
}

#newsletter-form textarea {
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  /* resize: vertical; */
  width: 100%;
  max-width: 350px;
  margin: 20px;
}
.main-footer{
   background-color: black;
   color: white;
}
.main-footer  i{
    font-size: 34px;
    margin: 15px;
    color: white;
}
.main-footer h3{
    font-size: 40px;
}
.main-footer p{
    margin: 20PX;
    font-size: 20px;
}
.inside-footer h2{
    font-size: 34px;
    margin: 10px;
}



 @media screen and (min-width: 992px){

    /* *{
        border: 1px solid;
    } */

   
    .nav-bar ul {
        position: static;
    list-style: none;
    gap: 30px;
    display: flex;
   flex-direction: row;
   text-align: left;
    background-color: transparent;
}
.nav-bar ul li {
color: black;
padding: 0;
display: inline-block;
}
.nav-bar h1{
    font-size: 42px;
}

.nav-bar a {
    text-decoration: none;
    color: black;
}

.menu-icon {
    display: none;
}
.personals{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 90px;
}
.Thoughts img{
  padding: 20px 100px;
  height: 50%;
  margin-top: 20px;
}
.Thoughts h2{ 
   text-align: center;
    font-weight: 100;
    color: #414141;
    font-size: 30px;
}
.personal img{
  height: 80%;
 

}
.Thoughts h3{
    width: 100%;
    font-weight: 100;
    text-align: center;

}
.Thoughts p{
    width: 72%;
    text-align: start;
    margin: auto ;
   
}
.Thoughts button{
  margin: 80px 250px;
}
.blogs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
    align-items: center;
    padding:0 60px;
    
   
}
.blog img{
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}
.blog h2{
    font-size: 54px;
    font-weight: 100;
   margin-top: -150px;
   margin-left: 170px;
   margin-bottom: 20px;
}
.blog h3{
    font-weight: 100;
  font-size: 28px;
  width: 400px;
  margin-top: 20px;
}
.blog a{
    width: 400px;
    line-height: 1.5;
}
hr{
    width: 400px;
    margin: 20px;
}
.quote{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}
.quote h2{
    width: 650px;
   font-size: 50px;
    text-align: center;
    padding: 70px;
}
.about {
    background: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about img{
    background-color: rgb(240 209 201 / 32%); 
    width: 100%;
    padding: 70px;
}
.about h2{
    font-size: 50px;
  margin-top: 60px;
}
.about p{
    text-align: start;
    margin: 0 auto;
    line-height: 1.5;
    width: 410px;
   padding: 10px;
   font-weight: 100;
}
.section-smile h2{
text-align: center;
margin: 60px;
font-size: 53px;
}
.smile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0 40px;
    gap: 18px;
}
.newsletter-section h2{
    width: 90%;
    font-size: 60px;
      color: #322e2e;
}
.newsletter-section p{
    width: 90%;
     color: #322e2e; 
}
.newsletter{
    display: grid;
    grid-template-columns: 1fr  ;
    padding:  70px;
}
#newsletter-form input[type="text"],
#newsletter-form input[type="email"] {
 padding: 1px;
  margin: 30px;
  font-size: 30px;
  width: 300px;
 
}
#newsletter-form input[type="email"] {
  width: 800px;
}
#newsletter-form button {
    width: 300px;
    padding: 10px;
  
}
.main-footer {
display: grid;
grid-template-columns: 1fr 1fr;
}
.footer{
    margin: 60px;
}
.newsletter-form textarea{
   max-width: 600px;
}

 }